*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    background-color: azure;
    overflow: hidden;
}

.container {
    height: 20rem;
    width: 22rem;
    background: linear-gradient(90deg, hsla(154, 100%, 76%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);
    border-radius: 1rem;
    flex-direction: column;
    gap: 3rem;
}

.links {
    text-align: center;
}

.links a {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    box-shadow: 0 2px 5px black;
    background-color: white;
    position: relative;
    overflow: hidden;

}

.fa-brands {
    font-size: 1rem;
    padding: 1rem;
    color: black;
    position: relative;
    z-index: 3;
}

.links a::after {
    content: '';
    height: 100%;
    width: 100%;
    top: -70px;
    left: 0;
    background: linear-gradient(135deg, hsla(180, 100%, 78%, 1) 0%, hsla(2, 78%, 62%, 1) 88%);
    position: absolute;
    transition: 0.5s ease;
}

.links a:hover::after {
    top: 0;
}

.fa-brands:hover {
    color: white;
}